#
# Customizations for Tentacle
#

files:
  "/home/ec2-user/runtime.conf":
    source:
      Fn::GetOptionSetting:
        OptionName: CONFIG_URL
        DefaultValue: https://s3.eu-central-1.amazonaws.com/silver-config-eu-central-1/devel/funkotron/runtime.conf
    mode: "000644"
    owner: ec2-user
    group: ec2-user
    authentication: S3Access

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName:
            Fn::GetOptionSetting:
              OptionName: IamInstanceRole
              DefaultValue: aws-elasticbeanstalk-ec2-role
          buckets:
            - silver-config-eu-central-1
